@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

.navbar-nav {
    margin: auto;
}
main {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

#container-pesquisa {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    
}
#container-pesquisa h2 {
    margin-bottom: 30px;
}

#container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 212, 212, 0.247);
    width: 200px;
    border: solid 2px black;
    border-radius: 5px;
    margin-top: 30px;
}
.cards h4 {
    text-transform: capitalize;
    padding-top: 5px;
}
.cards:hover {
    background-color: rgba(201, 201, 201, 0.438); 
    box-shadow: 2px 5px 15px rgba(0,0,0,0.6);
}
small {
    margin-inline-end: auto;
    margin-left: 10px;
    color: rgb(105, 105, 105);
}

.type-container {
    display: flex;
    padding-bottom: 5px;
    flex-direction: row;
    margin-inline-end: auto;
    margin-left: 10px;
}

.type {
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
    width: 70px
}
.type-container p{
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-family: 'Fira Sans', sans-serif;
}

.electric { 
    background-color: yellow;
}
.normal {
    background-color: rgb(184, 159, 159)
}
.water {
    background-color: rgb(95, 95, 235);
}
.grass {
    background-color: rgb(136, 233, 91)
}
.poison {
    background-color: rgba(192, 101, 192, 0.534)
}
.ice {
    background-color: rgb(98, 195, 233)
}
.fighting {
    background-color: rgb(212, 105, 105)
}
.ground {
    background-color: rgb(199, 154, 111)
}
.flying {
    background-color: rgb(146, 105, 212)
}
.psychic {
    background-color: rgb(223, 83, 188)
}
.bug {
    background-color: rgb(212, 240, 52)
}
.rock {
    background-color: rgb(192, 170, 109)
}
.ghost {
    background-color: rgb(168, 125, 224)
}
.dragon {
    background-color: rgb(114, 76, 150)
}
.dark {
    background-color: rgb(83, 62, 38)
}
.steel {
    background-color: rgb(107, 99, 93)
}
.fairy {
    background-color: rgb(124, 91, 123)
}
.fire {
    background-color: rgb(255, 0, 0);
}
.modal {
    padding-top: 10%;  

}

@media (max-width: 1400px) {
    main {
        width: 50%;
    }
    #container-pesquisa { 
        width: 60%;
}
}
@media (max-width: 450px){
    main {
        width: 90%;
    }
    #container-pesquisa h2 {
        font-size: 50px;
    }
    #container-pesquisa { 
        width: 100%;
    }
    #container-cards{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .cards {
        width: 270px;
    }
}

/* Modal Style's */

#staticBackdropLabel {
    text-align: center;
    flex: 1;
    text-transform: capitalize;
}
#modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#modal-body .type-container .type{
    transform: scale(1.2);
    margin-right: 20px;
    font-weight:550;
}
#modal-body .type-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
#staticBackdrop {
    transition: backdrop-filter 0.08s;
    backdrop-filter: blur(3px) opacity(1);    
}
.hability-list{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: rgba(202, 202, 202, 0.219);
    border-radius: 5px;
    padding: 4px;
    align-items: center;
    margin: 5px 0;
}
.hability-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    align-items: center;
}
.hability-container a{
    padding: 0 2px;
    text-transform: capitalize;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 3px;
    margin-top: 8px;
    font-size: 16px;
    justify-content: center;
    width: 130px;
    text-align: center;
}
.hability-container a:nth-child(1){
    margin-left: 7px;
}
.stat-list {
    padding: 4px;
    background-color: rgba(202, 202, 202, 0.342);
    border-radius: 5px;
    margin-top: 2px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.stat-list div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}
.stat-list h3, .hability-list-title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 0;
}
.stats {
    text-transform: capitalize;
    font-weight: bold;
    border-left: 1px solid black;
    padding-left: 3px;
    font-size: 16px;
    text-align: center;
    padding-right: 3px;
}
.stats:nth-child(1){
    border-left: 0;
}
.hability-container a:hover{
    background-color: rgba(221, 231, 253, 0.904);
    transform: scale(1.05);
}
#modal-body div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.damage-calculator {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(216, 216, 216, 0.815);
    border-radius: 5px;
}
.damage-calculator div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.damage-calculator div div p{
    margin-bottom: 4px;
    text-transform: capitalize;
    text-shadow: 0px 0px 0.5px black;
}
.damage-calculator div div p:hover{
    transform: scale(1.09)
}

.footer {
    background-color: rgb(41, 41, 41);
    position: fixed;
    bottom: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    height: 64px;
  }
  footer p {
      font-size: 16px;
  }
  #github-logo {
      fill: white;
  }
  #github-logo:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }