@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

.navbar-nav {
    margin: auto;
}
main {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

#container-pesquisa {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    
}
#container-pesquisa h2 {
    margin-bottom: 30px;
}

#container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 212, 212, 0.247);
    width: 200px;
    border: solid 2px black;
    border-radius: 5px;
    margin-top: 30px;
}
.cards h4 {
    text-transform: capitalize;
    padding-top: 5px;
}
.cards:hover {
    background-color: rgba(201, 201, 201, 0.438); 
    box-shadow: 2px 5px 15px rgba(0,0,0,0.6);
}
small {
    margin-inline-end: auto;
    margin-left: 10px;
    color: rgb(105, 105, 105);
}

.type-container {
    display: flex;
    padding-bottom: 5px;
    flex-direction: row;
    margin-inline-end: auto;
    margin-left: 10px;
}

.type {
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;

}
.type-container p{
    text-transform: uppercase;
    font-size: 14px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-family: 'Fira Sans', sans-serif;
}

.electric { 
    background-color: yellow;
}
.normal {
    background-color: rgb(184, 159, 159)
}
.water {
    background-color: rgb(95, 95, 235);
    color: white;
}
.grass {
    background-color: rgb(136, 233, 91)
}
.poison {
    background-color: rgba(192, 101, 192, 0.534)
}
.ice {
    background-color: rgb(98, 195, 233)
}
.fighting {
    background-color: rgb(212, 105, 105)
}
.ground {
    background-color: rgb(199, 154, 111)
}
.flying {
    background-color: rgb(146, 105, 212)
}
.psychic {
    background-color: rgb(223, 83, 188)
}
.bug {
    background-color: rgb(212, 240, 52)
}
.rock {
    background-color: rgb(192, 170, 109)
}
.ghost {
    background-color: rgb(168, 125, 224)
}
.dragon {
    background-color: rgb(114, 76, 150)
}
.dark {
    background-color: rgb(83, 62, 38)
}
.steel {
    background-color: rgb(107, 99, 93)
}
.fairy {
    background-color: rgb(124, 91, 123)
}
.fire {
    background-color: rgb(221, 101, 101)
}

.cardss{
    width: 250px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 300px;
    border-radius: 5px;
    backdrop-filter: blur(1120px);
    background-color: rgba(255, 6, 6, 0.2);
    padding: 10px;
    text-align: center;
}
.cardss img {
    height: 60%;
}
.background {
    background-color: rgb(184, 185, 184);
    height: 320px;
    padding: 10px;
    margin: auto;
    top: 200px;
    position: absolute;
    
}
@media (max-width: 1360px) {
    main {
        width: 70%;
    }
}
@media (max-width: 450px){
    main {
        width: 90%;
    }
    #container-pesquisa h2 {
        font-size: 50px;
    }
    #container-pesquisa { 
        width: 100%;
    }
    #container-cards{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .cards {
        width: 270px;
    }
}